<header class="bg-white">
  <div class="max-w-7xl mx-auto flex justify-between items-center py-4">
    <div class="flex-shrink-0 flex items-center">
      <a href="/ar/" class="text-dark font-bold text-xl">
        Techmo
      </a>
    </div>
    <nav class="hidden md:flex space-x-8 items-center">
      {% for item in navigation.main %}
      <a href="{{ item.url }}" class="text-gray-600 hover:text-dark">{{ item.text }}</a>
      {% endfor %}
      <a href="https://simulador.techmo.global" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-dark bg-primary hover:bg-primary/90">
        Simular crédito
      </a>
    </nav>
    <div class="flex items-center md:hidden">
      <button type="button" class="text-gray-600 hover:text-dark">
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>
  </div>
</header>