@keyframes rotateBorder {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .neon-border-container {
    position: relative;
    border-radius: 1.5rem;
    overflow: hidden;
  }
  
  .neon-border-content {
    position: relative;
    z-index: 1;
    border-radius: 1.5rem;
    background: linear-gradient(to bottom right, #28E0CC, #326F78, #174247);
    min-height: 80vh;
  }
  
  .neon-border-glow {
    pointer-events: none;
    position: absolute;
    inset: 0;
    z-index: 2;
    border-radius: 1.5rem;
  }
  
  .neon-border-glow::before {
    content: '';
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    padding: 1px;
    background: conic-gradient(
      from 0deg,
      rgba(40, 224, 204, 0) 0%,
      rgba(40, 224, 204, 0) 75%,
      rgba(40, 224, 204, 1) 100%
    );
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    animation: rotateBorder 4s linear infinite;
  }
  
  .neon-border-container:hover .neon-border-glow::before {
    background: conic-gradient(
      from 0deg,
      rgba(40, 224, 204, 0) 0%,
      rgba(40, 224, 204, 0) 65%,
      rgba(40, 224, 204, 1) 100%
    );
  }