---
layout: base
permalink: /ar/prensa/index.html
title: Prensa | Techmo
description: Información para prensa y noticias sobre Techmo, la fintech especializada en financiamiento automotor en Argentina.
---